<ng-container *ngIf="mapsUrl!=null" >
  <a target="_blank" [href]="mapsUrl"><i class="fa-solid fa-map-location-dot"></i> &nbsp;&nbsp;</a>
</ng-container>
<ng-container *ngIf="wikiUrl!=null && wikiUrl !=''" >
  <a target="_blank" [href]="wikiUrl"><i class="fa-brands fa-wikipedia-w"></i>&nbsp;&nbsp;</a>
</ng-container>
<ng-container *ngIf="instaUrl!=null" ></ng-container>
<ng-container *ngIf="twitterUrl!=null" ></ng-container>
<ng-container *ngIf="websiteUrl!=null" >
  <a target="_blank" [href]="websiteUrl"><i class="fa-solid fa-earth-africa"></i>&nbsp;&nbsp;</a>
</ng-container>
