<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-responsive align-middle darkColor text-light">
    <thead class="">
      <tr>
        <th></th>
        <th>Commentry</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let updateItem of updates">
        <td>
          <div class="d-flex align-items-center">
            <img
              [src]="updateItem?.profile_image"
              alt=""
              style="width: 50px; height: 50px"
              class="rounded-circle"
            />
            <div class="ms-3">
              <p class="mb-1">{{ updateItem.created_by }}</p>
              <p class="text-muted mb-0">{{ updateItem.created_on | date:'medium' }}</p>
            </div>
          </div>
        </td>
        <td>
          {{ updateItem.comment }}
        </td>
        <td>
         <b><a target="_blank" style="color:white" [href]='updateItem.info_url'>Source</a></b> 
        </td>
      </tr>
    </tbody>
  </table>
</div>
