<div class="card-body p-4">
  <div class="d-flex flex-start">
    <img class="rounded-circle shadow-1-strong me-3"
      [src]="update?.profile_image" [alt]="update.created_by" width="60"
      height="60" />
    <div>
      <h6 class="fw-bold mb-1">{{update.created_by}}</h6>
      <div class="d-flex align-items-center mb-3">
        <p class="mb-0">
          {{createdOnDate}}
        </p>
       &nbsp;&nbsp; <a target="_blank" style="color:white" [href]='update.info_url'>Source
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
      </div>
      <p class="mb-0">
        {{update.comment}}
      </p>
    </div>
  </div>
</div>
