<ng-container *ngIf="launchDetails">

  <!-- Launch Name ( header) -->
  <div class="row">
    <div class="col">
      <h4>{{ launchDetails?.name }}</h4>
    </div>
  </div>

<div class="row mb-2">
  <div class="col-md-12">
    <div class="card darkColor">
      <div class="card-body text-center">
        <h2>
          <app-countdown
          [finalDate]="launchDetails.net"
          *ngIf="
            !launchDetails.isLaunchCompleted;
            else launchCompletedTimeRef
          "
          [$localStoragetzone]="this.timeZone.myData$"
          >
          </app-countdown>
          <ng-template #launchCompletedTimeRef>
            T+ 00 d : 00 h : 00 m: 00 s
          </ng-template>
        </h2>
        <p>
          <i data-test="fa" class="fa fa-calendar-day"></i>
          {{ formattedLaunchTimeByZone }}
        </p>
        <span class="badge badge-secondary">
          {{
            launchDetails?.rocket?.spacecraft_stage != null
              ? "Manned"
              : "Un-manned"
          }}
          launch
        </span>
        &nbsp;&nbsp;&nbsp;
        <span
          [title]="launchDetails?.status?.description"
          [ngClass]="['badge', 'badge-' + launchDetails.statusColor]"
          >{{ launchDetails?.status?.name }}
        </span>
      </div>
      <img [src]="launchDetails?.image"  [alt]="launchDetails?.name" class="card-img-bottom img-fluid cover"  [ngStyle]="{ height: '500px' }"
      />
    </div>
  </div>
</div>


<div class="row mb-2">
  <div class="col-md-6 mb-2 d-flex align-items-stretch">
    <!-- Launch pad card - START-->
    <div class="card text-center z-depth-2 darkColor w-100">
      <div class="card-header">
         <h5>Launch pad</h5>
      </div>
      <div class="card-body">
          <p>
            {{ launchDetails.pad.location.name }}
          </p>
          <p>
            <app-social-links
            [mapsUrl]="launchDetails.pad?.map_url"
            [wikiUrl]="launchDetails.pad?.wiki_url"
            [info_url]="launchDetails.pad?.info_url"
            >
            </app-social-links>
          </p>
      </div>
    </div>
    <!-- Launch pad card - END-->
  </div>
  <div class="col-md-6 mb-2 d-flex align-items-stretch">
    <!-- Agency card - START-->
    <div class="card danger-color text-center z-depth-2 darkColor w-100">
      <div class="card-header">
        <h5>Agency</h5>
     </div>
      <div class="card-body">
        <div class="d-flex align-items-center">
          <img
            [src]="launchDetails.launch_service_provider.logo_url"
            [alt]="launchDetails.launch_service_provider.name"
            style="width: 150px; height: 150px"
            class="rounded"
          />
          <div class="ms-5">
            <!-- <p class="text-muted mb-0">Agency:
              <a [href]="launchDetails.launch_service_provider.wiki_url" style="color: whitesmoke;" target="_blank"><i class="fa-solid fa-up-right-from-square"></i>
              </a>
            </p> -->
            <p class="mb-1">{{ launchDetails.launch_service_provider.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Agency card - END-->
  </div>
</div>

<!-- Fail or Hold reason in case launch is on hold or failed -->
<ng-container *ngIf="failOrHoldReason !== null">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card darkColor text-center">
          <div class="card-header">
            <h5>{{ failOrHoldReason!.reason }} reason :</h5>
          </div>
          <div class="card-body">
            <app-description-card [description]="failOrHoldReason!.description">
            </app-description-card>
          </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="row mb-2">
  <div class="col-md-6 mb-2 d-flex align-items-stretch">
    <!-- Mission & its description - START-->
    <div class="card text-center z-depth-2 darkColor w-100">
      <div class="card-header">
         <h5>Mission : {{ launchDetails.mission?.type }}</h5>
      </div>
      <div class="card-body">
        <app-description-card
        [description]="launchDetails.mission?.description">
        </app-description-card>
      </div>
    </div>
    <!-- Mission & its description - START-->
  </div>
  <div class="col-md-6 mb-2 d-flex align-items-stretch">
    <!-- Rocket's description - START-->
    <div class="card danger-color text-center z-depth-2 darkColor w-100">
      <div class="card-header">
        <h5>Rocket's description</h5>
     </div>
      <div class="card-body">
        <app-description-card
        [description]="launchDetails.rocket.configuration.description">
      </app-description-card>
      </div>
    </div>
    <!-- Rocket's description - END-->
  </div>
</div>

  <!-- Launch Video -->
  <div class="row mt-2" *ngIf="videoURL!=null"s>
    <div class="col-md-12">
      <div class="card darkColor">
          <div class="card-header text-center">
            <h5>Launch video</h5>
          </div>
          <div class="card-body">
            <app-youtube-video-ifram
            [height]="'400px'"
            [videoURL]="videoURL"
          ></app-youtube-video-ifram>
          </div>
      </div>
    </div>
  </div>

  <div class="row mt-2" *ngIf="launchDetails.updates.length > 0">
   <div class="col-md-12">
      <div class="row">
        <div class="col">
          <h6>Launch updates:</h6>
        </div>
      </div>
      <app-launch-updates [updates]="launchDetails.updates"></app-launch-updates>
    </div>
  </div>

  <ng-container *ngIf="launchDetails?.rocket?.spacecraft_stage != null">
    <div class="row mt-2">
      <div class="col">
        <h6>Crew members:</h6>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-3 mt-1"
        *ngFor="let crewMember of launchDetails.customCrewMembers"
      >
        <a [routerLink]="['/astronaut', crewMember.astronaut.id]">
          <app-single-astronaut [crew]="crewMember"></app-single-astronaut>
        </a>
      </div>
    </div>
  </ng-container>
</ng-container>
